<!DOCTYPE html>
<html>
<head>
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>    
<body>

    <h1>Members</h1>
    <h5>People</h5>
    <table class=" table table-striped table-hover container">
        <thead class="table-dark">
          <tr>
            <td>
                <h5>id</h5>
            </td>
            <td>
                <h5>name</h5>
            </td>
            <td>
                <h5>age</h5>
            </td>
            <td>
                <h5>country</h5>
            </td>
          </tr>
        </thead>
        <tbody>
            {% for x in per %}
            <tr>
                <td ><a class="btn btn-danger bg-danger" href="{% url 'index' x.id %}">{{ x.id }}</a></td>
                <td>{{ x.name }}</td>
                <td>{{ x.age }}</td>
                <td>{{ x.country }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</body>
</html>