<!DOCTYPE html>
<html>
<head>
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>    
<body>

    <h1>Members</h1>
    <h5>Family</h5>
    <table class=" table table-striped table-hover container">
        <thead class="table-dark">
          <tr>
            <td>
                <h5>id</h5>
            </td>
            <td>
                <h5>name</h5>
            </td>
          </tr>
        </thead>
        <tbody>
            {% for x in tableau['families'] %}
            <tr>
                <td type="button" class="btn btn-danger bg-danger " ><a href="{% url 'family' x.id %}">{{ x.id }}</a> </td>
                
                <td>{{ x.name }}</td>                
            </tr>            
            {% endfor %}
        </tbody>
      </table>
    <h5>Animal</h5>
    <table class=" table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <td>
                <h5>id</h5>
            </td>
            <td>
                <h5>name</h5>
            </td>
            
          </tr>
        </thead>
        <tbody>
            {% for x in tableau['animals'] %}
            <tr>
                <td type="button" class="btn btn-danger bg-danger " ><a href="{% url 'anima' x.id %}">{{ x.id }}</a</td>
                <td>{{ x.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</body>
</html>